/* font_imports */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

.raleway {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
